.online-layout {
    font-family: "微软雅黑";
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}


/* header begin */

.online-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 1.09rem;
    padding: 0 .3rem;
    /* border-bottom: 1px solid #e5e5e5; */
    background-color: #383e49;
    justify-content: space-between;
}

.online-layout p,
.online-layout h3,
.online-layout h5 {
    margin: 0;
    padding: 0;
}

.online-header__logo img {
    width: auto;
    height: .6rem;
}

.online-header__btn a {
    height: .55rem;
    width: 1.35rem;
    font-size: .26rem;
    color: #fff;
    border: 1px solid #52c018;
    border-radius: .04rem;
    margin-left: .1rem;
    justify-content: center;
}

.online-header__btn--experience {
    background: #52c018;
}


/* header end */

.online-layout__content {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    overflow-y: scroll;
}


/* banner begin */

.online-banner {
    margin: 0 auto;
    overflow: hidden;
}

.online-banner .online-banner__wrapper {
    width: 7.4rem;
    height: 7.4rem;
    position: relative;
}

.online-banner .swiper-slide {
    position: relative;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.online-banner .online-slide--1 {
    background-image: url("../images/online-banner1.png");
}

.online-banner .online-slide--2 {
    background-image: url("../images/online-banner2.png");
}

.online-banner .online-slide--3 {
    background-image: url("../images/online-banner3.png");
}

.online-banner__wrapper .online-banner__title {
    font-size: .6rem;
    font-weight: 500;
    margin-top: .55rem;
    margin-bottom: 0;
}

.online-banner__wrapper .online-banner__subtitle {
    font-size: .34rem;
    margin-top: 0;
}

/* .online-banner__wrapper .online-btn__experience {
    position: absolute;
    left: 50%;
    bottom: .7rem;
    transform: translateX(-50%);
    width: 2.2rem;
    height: .75rem;
    line-height: .7rem;
    font-size: .18rem;
    color: #fff;
    border-radius: .1rem;
    background: #52c018;
} */
.online-banner .online-btn__experience{
    position: absolute;
    z-index: 999;
    width: 2.15rem;
    height: .7rem;
    line-height: .65rem;
    font-size: .24rem;
    color: #fff;
    text-align: center;
    background-color: #52c018;
    border: 1px solid #52c018;
    border-radius: 3px;
    left: 0;
    right: 0;
    bottom: .6rem;
    margin: auto;
}
.online-banner .swiper-pagination-bullet {
    width: .4rem;
    height: .04rem;
    background-color: #80aee1;
    border-radius: 0;
    opacity: 1;
}

.online-banner .swiper-pagination-bullet-active {
    background-color: #fff;
}

.online-subbanner {
    width: 7.5rem;
    height: 1.4rem;
    background: url(../images/online-purple-bg.png) no-repeat center center;
    background-size: 100% 100%;
}

.online-subbanner {
    padding-top: .3rem;
    text-align: center;
    color: #fff;
}

.online-subbanner__title {
    font-size: .28rem;
    line-height: 1;
}

.online-p--colorful {
    display: inline-block;
    font-size: .32rem;
    background: linear-gradient(to right, #00ff96, #714bff);
    -webkit-background-clip: text;
    color: transparent;
}


/* banner end */


/* 解决痛点 begin */

.online-spot {
    padding: .5rem .2rem .76rem;
    text-align: center;
    background: #f8f8f8;
}

.online-spot__main-title {
    margin-bottom: .4rem !important;
    font-size: .48rem;
    font-weight: 500;
    color: #333;
}

.online-spot__list {
    justify-content: space-between;
}

.online-spot__item {
    width: 2.3rem;
    height: 2.3rem;
    padding-top: .45rem;
    margin-bottom: .24rem;
    flex-direction: column;
    justify-content: center;
}

.online-spot__item--1 {
    background: url(../images/online-spot-bg1.png) no-repeat center;
    background-size: 100% 100%;
}

.online-spot__item--2 {
    background: url(../images/online-spot-bg2.png) no-repeat center;
    background-size: 100% 100%;
}

.online-spot__item--3 {
    background: url(../images/online-spot-bg3.png) no-repeat center;
    background-size: 100% 100%;
}

.online-spot__item--4 {
    background: url(../images/online-spot-bg4.png) no-repeat center;
    background-size: 100% 100%;
}

.online-spot__item--5 {
    background: url(../images/online-spot-bg5.png) no-repeat center;
    background-size: 100% 100%;
}

.online-spot__item--6 {
    background: url(../images/online-spot-bg6.png) no-repeat center;
    background-size: 100% 100%;
}

.online-spot__icon {
    display: block;
    width: .9rem;
    height: .9rem;
}

.online-spot__icon--1 {
    background: url(../images/online-icon-spot1.png) no-repeat center;
    background-size: 100% 100%;
}

.online-spot__icon--2 {
    background: url(../images/online-icon-spot2.png) no-repeat center;
    background-size: 100% 100%;
}

.online-spot__icon--3 {
    background: url(../images/online-icon-spot3.png) no-repeat center;
    background-size: 100% 100%;
}

.online-spot__icon--4 {
    background: url(../images/online-icon-spot4.png) no-repeat center;
    background-size: 100% 100%;
}

.online-spot__icon--5 {
    background: url(../images/online-icon-spot5.png) no-repeat center;
    background-size: 100% 100%;
}

.online-spot__icon--6 {
    background: url(../images/online-icon-spot6.png) no-repeat center;
    background-size: 100% 100%;
}

.online-spot__title {
    margin-top: .1rem;
    font-size: .26rem;
    color: #fff;
}


/* 解决痛点 end */


/* 我们能解决 begin */

.online-provide {
    padding: .6rem .3rem 0;
    text-align: center;
    background: #fff;
}

.online-provide__main-title {
    font-size: .48rem;
    font-weight: 500;
    color: #333;
}

.online-provide__item--gray {
    background: #f8f8f8;
}

.online-provide__item {
    padding: .6rem .36rem .5rem;
}

.online-provide__img img {
    width: 100%;
    height: auto;
}

.online-provide__title {
    font-size: .36rem;
    font-weight: 500;
    color: #666;
}

.online-provide__desc {
    margin-top: .1rem;
    font-size: .2rem;
    color: #666;
}


/* 我们能解决 end */


/* 其他 begin */

.online-other {
    padding: .5rem .2rem .76rem;
    text-align: center;
    background: url(../images/online-other-bg.png) no-repeat center;
    background-size: 100% 100%;
}

.online-other__main-title {
    margin-bottom: .4rem !important;
    font-size: .48rem;
    font-weight: 500;
    color: #fff;
}

.online-other__list {
    justify-content: space-between;
}

.online-other__item {
    width: 2.3rem;
    height: 2.3rem;
    padding-top: .1rem;
    margin-bottom: .24rem;
    flex-direction: column;
    justify-content: center;
    background: #fff;
}

.online-other__icon {
    display: block;
    width: .7rem;
    height: .7rem;
}

.online-other__icon--1 {
    background: url(../images/online-icon-other1.png) no-repeat center;
    background-size: 100% 100%;
}

.online-other__icon--2 {
    background: url(../images/online-icon-other2.png) no-repeat center;
    background-size: 100% 100%;
}

.online-other__icon--3 {
    background: url(../images/online-icon-other3.png) no-repeat center;
    background-size: 100% 100%;
}

.online-other__icon--4 {
    background: url(../images/online-icon-other4.png) no-repeat center;
    background-size: 100% 100%;
}

.online-other__icon--5 {
    background: url(../images/online-icon-other5.png) no-repeat center;
    background-size: 100% 100%;
}

.online-other__icon--6 {
    background: url(../images/online-icon-other6.png) no-repeat center;
    background-size: 100% 100%;
}

.online-other__icon--7 {
    background: url(../images/online-icon-other7.png) no-repeat center;
    background-size: 100% 100%;
}

.online-other__icon--8 {
    background: url(../images/online-icon-other8.png) no-repeat center;
    background-size: 100% 100%;
}

.online-other__icon--9 {
    background: url(../images/online-icon-other9.png) no-repeat center;
    background-size: 100% 100%;
}

.online-other__title {
    margin-top: .1rem !important;
    font-size: .24rem;
    color: #333;
}


/* 其他 end */


/* 成功案例 Begin */

.online-case {
    position: relative;
    padding-top: .8rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #f8f8f8;
}

.online-case__title h3 {
    margin-bottom: .7rem;
    font-size: .48rem;
    font-weight: 500;
}

.online-case .online-cell-title {
    color: #333;
}

.online-case .online-cell-des {
    color: #595960;
    padding-bottom: .8rem;
}

.online-case .online-case__wrapper,
.online-case .case-slide__img,
.online-case .case-slide__info {
    width: 6.4rem;
}

.online-case .case-slide__img,
.online-case .case-slide__info {
    margin: 0 auto;
}

.online-case .case-slide__img {
    height: 3rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info__shop-logo .shop-logo__img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.online-case__container .case-slide__img--1 {
  background-image: url("../images/online-case1.png");
}

.online-case__container .case-slide__img--2 {
    background-image: url("../images/online-case2.jpg");
}

.online-case__container .case-slide__img--3 {
  background-image: url("../images/online-case3.jpg");
}
.online-case__container .case-slide__img--4 {
  background-image: url("../images/online-case4.jpg");
}
.online-case__container .case-slide__img--5 {
  background-image: url("../images/online-case5.jpg");
}
.online-case__container .case-slide__img--6 {
  background-image: url("../images/online-case6.jpg");
}
.online-case .case-slide__info {
    position: relative;
    height: 5rem;
    background-color: #fff;
}

.case-slide__info {
    padding: .1rem .4rem;
}

.case-slide__info .info__name,
.case-slide__info .info__des {
    margin: 0;
    padding: 0;
    line-height: .6rem;
    font-family: "微软雅黑";
    font-size: .24rem;
    color: #666;
    text-align: left;
}

.case-slide__info .info__des {
    line-height: 1.7;
}

.case-slide__info .info__des {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    overflow: hidden;
}

.case-slide__info .online-row {
    position: absolute;
    left: 0;
    bottom: .4rem;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-around;
}

.info__cell--border {
    border-right: 1px solid #cbcccd;
}

.info__cell {
    flex: 1;
}

.info__cell>p {
    margin: 0;
    padding: 0;
}

.info__cell>p.num {
    font-size: .3rem;
    color: #4660ff;
}

.info__cell>p.annotation {
    font-size: .18rem;
    color: #98999a;
}

.info__shop-logo {
    text-align: left;
    height: 1.2rem;
    position: relative;
}

.online-case .online-case__pagination {
    left: 0;
    right: 0;
    bottom: .3rem;
}

.online-case .swiper-pagination-bullet {
    width: .4rem;
    height: .04rem;
    margin: 2px;
    border-radius: 0;
}

.online-case .swiper-pagination-bullet-active {
    background: #52c018;
}


/* 成功案例 End */


/* 电话 begin */

.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(117, 117, 117, 0.66);
}

.modal .modal__tel {
    display: none;
    width: 6rem;
    height: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
}

.modal__tel .tel__title {
    margin: 0;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .3rem;
    font-weight: bold;
}

.modal__tel .tel__remind {
    font-size: .24rem;
    line-height: 1.5em;
    height: 1rem;
    text-align: center;
    padding: 0 1.3rem;
    margin: 0;
}

.modal__tel .tel__operation {
    height: 1rem;
    font-size: .3rem;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.modal__tel .cancel,
.modal__tel .confirm {
    flex: 1;
    -webkit-box-flex: 1;
    height: 1rem;
    line-height: 1rem;
    border-right: 1px solid #e5e5e5;
}

.modal__tel .confirm {
    color: #2f91ff;
    border: 0;
}


/* 电话 end */


/* 合作 begin */

.online-cooperate {
    padding: .7rem .3rem 1.85rem;
    text-align: center;
    background: #fff;
}

.online-cooperate__title {
    font-size: .48rem;
    color: #333;
}

.online-cooperate__img {
    margin-top: .6rem;
}

.online-cooperate__img img {
    width: 100%;
    height: auto;
}


/* 合作 end */

.online-footer {
    height: .85rem;
    line-height: .85rem;
    font-size: .24rem;
    text-align: center;
    color: #64676b;
    background: #000723;
}

.online-tel {
    position: fixed;
    right: .3rem;
    bottom: 1rem;
    z-index: 999;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background: #52c018;
    justify-content: center;
}

.online-tel img {
    height: .55rem;
}

.online-display-flex {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
}

.online-flex-align-center {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    align-items: center;
}


/* 注册 */

.online-register-layout__content {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

.icon-back {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    background-image: url("../images/online-icon-back.png");
    background-repeat: no-repeat;
    background-size: .4rem .4rem;
    background-position: center center;
}

.icon-succeed {
    display: inline-block;
    width: .88rem;
    height: .88rem;
    background-image: url("../images/online-icon-succeed.png");
    background-repeat: no-repeat;
    background-size: .88rem .88rem;
    background-position: center center;
}

.icon-close {
    display: inline-block;
    width: .32rem;
    height: .32rem;
    background-image: url("../images/online-icon-close.png");
    background-repeat: no-repeat;
    background-size: .32rem .32rem;
    background-position: center center;
}

.register-layout {
    background-color: #0d102f;
}

.online-layout .online-header.register-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 1rem;
    display: flex;
    display: -webkit-flex;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
}

.online-header .back-btn {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.online-header .back-btn .icon-back {
    padding: .5rem;
}

.register-header__title {
    flex: 1;
    justify-content: center;
    align-self: center;
    margin: 0;
    color: #999;
    font-size: .3rem;
    font-family: "微软雅黑";
    text-align: center;
    padding-right: 1rem;
    font-style: normal;
    font-weight: normal;
}

.online-bg--top {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 100%;
}

.online-bg--bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.register-wrap {
    position: relative;
    z-index: 9;
    width: 6.6rem;
    margin: 0 auto;
    padding-bottom: .25rem;
}

.account {
    margin: .2rem auto;
    padding: .5rem 0;
    border-radius: 10px;
    background-color: #fff;
}

.account-name {
    margin: 0;
    padding-bottom: .1rem;
    color: #333;
    font-size: .36rem;
    font-family: "微软雅黑";
}

.form-content {
    width: 6rem;
    margin: 0 auto;
}

.form-item .label-name {
    display: block;
    color: #666;
    padding: .3rem 0 .15rem;
    font-size: .26rem;
    font-family: "微软雅黑";
}

.form-item input {
    width: 100%;
    font-size: .24rem;
    padding-left: 10px;
    height: .85rem;
    border-radius: 3px;
    border: 1px solid #bbb;
}

.form-item input::-webkit-input-placeholder,
.form-item input::-moz-placeholder,
.form-item input:-moz-placeholder,
.form-item input:-ms-input-placeholder {
    color: #ccc;
}

.form-item input.err,
.form-item select.err {
    border-color: #cf6363;
}

.form-item input.err::-webkit-input-placeholder,
.form-item input.err::-moz-placeholder,
.form-item input.err:-moz-placeholder,
.form-item input.err:-ms-input-placeholder {
    color: #cf6363;
}

.consent {
    margin: 0 auto;
    width: 6rem;
    padding: .4rem 0 .5rem;
    font-size: .24rem;
    line-height: .3rem;
    color: #a9a9a9;
    align-items: center;
    display: flex;
    display: -webkit-flex;
}

.consent .agree {
    float: left;
    margin-right: 3px;
    width: .3rem;
    height: .3rem;
}

.consent .clause {
    color: #52c018;
}

.submit-btn {
    margin: 0;
    background-color: #52c018;
    color: #fff;
    border: 0;
    text-align: center;
    padding: .25rem 0;
    font-size: .28rem;
}

.checkcode_box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-around;
}

.area_box {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.area_box select {
    width: 2.9rem;
    height: .85rem;
    padding-left: 10px;
    font-size: .24rem;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.form-item #checkcode {
    width: 3.5rem;
}

.form-item input.btngetcode {
    display: inline-block;
    height: .85rem;
    width: 2.4rem;
    font-size: .28rem;
    color: #3388ff;
    border-radius: 3px;
    border: 1px solid #3388ff;
    background-color: #fff;
}

.succeed-mork {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(167, 167, 167, 0.44);
}

.succeed-mork .succeed-mork__header {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 9.16rem;
    text-align: center;
    background-color: #fff;
}

.succeed-mork__header .register-header__title {
    padding-left: 1rem;
    padding-right: 0;
}

.succeed-mork__header .close-btn {
    width: 1rem;
    height: 1rem;
}

.succeed-mork__header .close-btn .icon-close {
    padding: .5rem;
}

.succeed-mork__header .icon-succeed {
    margin-top: 2.8rem;
}

.succeed-mork__header .succeed-message {
    font-size: .48rem;
    color: #333;
    margin: .0 0 .15rem;
}

.succeed-mork__header .succeed-tips {
    margin: 0 0 .1rem;
    font-size: .24rem;
    color: #999;
}

.succeed-mork__header .online-dns {
    margin: 0 0 .6rem;
    font-size: .24rem;
    color: #3388ff;
}

.succeed-mork .succeed-mork__header .back-btn {
    color: #fff;
    font-size: .2rem;
    padding: .23rem .9rem;
    border-radius: 3px;
    background-color: #52c018;
}

.tips-err {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ccc;
    color: #e20101;
    font-size: .24rem;
    width: 7.5rem;
    padding: 10px;
    z-index: 9999;
    text-align: center;
    line-height: .48rem;
    word-wrap: break-word;
}

.regulations {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.regulations .regulations__centet {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    overflow-y: scroll;
}

.regulations .regulations__title {
    position: relative;
}

.regulations .regulations__title .closeregulations {
    position: absolute;
    top: 0;
    right: 10px;
    width: .32rem;
    height: .32rem;
}

.regulations__title .closeregulations .icon-close {
    float: left;
}

.regulations .regulations__title .centet__title {
    font-size: .16rem;
    text-align: center;
}

.regulations .regulations__centet .centet__clause {
    font-size: .14rem;
}

.advisory-tell {
    font-size: .30rem;
    color: #fff;
}


/* 注册 end */
iframe#main{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}